<h1>Tembo Rest API Documentation</h1>

<p>Hello and welcome to my attempt at the Tembo REST api challange</p>

<p>It toke me an honest 5 hours to complete this project, this is mostly due to it toke me an hour to get the environment set up</p>

<p>I was unfamilier with mongoDB and needed to set up a Python3 enviornment as most of what I do right now is Python 2.7 work. This was not an issue overall just added some time.</p>

<p>I have the whole project set up to use virtualenv</p>

<p>Please read Github READEME for more information</p>

<p>Christopher Robus October 28th 2018</p>